.ballon {
    position: absolute;
    width: 40px;
    height: 60px;
    border-radius: 50%;
    background-color: #ff6347;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    animation: fall 4s ease-in infinite;
    animation-delay: 0s;
}

.ballon-1 {
    background-color: #ff6347; 
    left: 10%;
    animation-delay: 1s;
}

.ballon-2 {
    background-color: #ffb6c1; 
    left: 30%;
    animation-delay: 2s;
}

.ballon-3 {
    background-color: #4682b4; 
    left: 50%;
    animation-delay: 1.5s;
}
.ballon-4 {
    background-color: orange; 
    left: 80%;
    animation-delay: 2.5s;
}

.ballon::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 2px;
    height: 20px;
    background-color: #000;
    transform: translateX(-50%);
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform:translateY(100%);
        opacity: 0;
    }
}
